<!DOCTYPE html>
<html>
<head>
    <title>jurisnexus</title>
    <style>
        /* 输入框致中 */
        .center-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
        .center-input {
            text-align: left;
            width: 400px ;
            resize: none;
            vertical-align: middle
        }

    </style>
</head>
<body>
    <div class="center-container">
        <img src="{{ url_for('static', filename='logo2.png') }}" alt="圖像">
        <form method="POST">
            <!--
            <input type="texa" class="center-input" id="search_text" name="search_text">
            -->
            <textarea rows = "5" cols="50"  class="center-input" id="search_text" name="search_text"></textarea>
            <button type="submit" style="vertical-align: middle;">搜尋</button>
        </form>

    </div>
    
</body>
</html>
